.divLoading {
  padding-top: 10rem;
  width: 100%;
  // background-color: aqua;
  text-align: center;
  img {
    width: 15%;
  }
}

.divError {
  width: 100%;
  padding-top: 10rem;
  text-align: center;
  h1 {
    font-size: 5rem;
  }
}
